@use '../../scss/' as *;

.header{
    background: $light;
    padding: 5px 0;
    transition: .3s ease-in-out;
    top: -200px;
    &.active{
        background: $dark;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        a{
            color: $light !important;
        }
    }
    nav.menu{
        ul{
            margin: 0;
            li{
                a{
                    text-decoration: none;
                    color:$dark;
                    font-weight:500;
                    font-size: 1.2rem;
                    display: block;
                    padding: 15px;
                }
            }
        }
    }
}